<%= form_for @request do |form| %>

  <div class="field">
    <%= form.label :status %>
    <%= form.text_field :status %>
  </div>

  <div class="field">
    <%= form.label :branch_id %>
    <%= form.number_field :branch_id %>
  </div>
    <div class="field">
    <%= form.label :product_id %>
    <%= form.number_field :product_id %>
  </div>

    <div class="field">
    <%= form.label :quantity %>
    <%= form.number_field :quantity %>
  </div>


    <div class="field">
    <%= form.label :price %>
    <%= form.number_field :price %>
  </div>

  <div class="field">
    <%= form.label :created_at %>
    <%= form.date_select :created_at %>
  </div>

<%= form.submit   %>
<% end %>
