<h1>Requests#index</h1>

<% @requests.each do |request| %>
<%= request.branch_id%>
<%= request.product_id%>
<%= request.quantity%>
<%= request.price%>
<%= request.status%>
<%= request.created_at%><br/>
<% end %>
