<h1>Requests#show</h1>
<ul>
<li>Id          : <%= @request.id %></li>
<li>Branch      : <%= @request.branch_id %></li>
<li>Product      : <%= @request.product_id %></li>
<li>Quantity         : <%= @request.quantity %></li>
<li>Status         : <%= @request.status %></li>
<li>Date         : <%= @request.created_at %></li>
</ul>
